.mainGrid{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 0.1fr 0.8fr 0.1fr / repeat(3, 1fr);
    grid-template-areas:
    ". . ."
    ". contentGrid ."
    ". . .";
}
.contentGrid{
    grid-area: contentGrid;
    background-color: blueviolet;
}