.contentGrid{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 0.15fr 0.6fr 0.25fr;
    grid-template-areas: "gameTitle" "ticTacToeGrid" "gameInfo";
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(200px);
}
.gameTitle{
    grid-area: gameTitle;
}
.ticTacToeGrid{
    grid-area: ticTacToeGrid;
}
.gameInfo{
    grid-area: gameInfo;
}
/*   */
.ticTacToeGrid{
    display: grid;
    width: 100%;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-template-areas:
    "a11 a12 a13" "a21 a22 a23" "a31 a32 a33";
    gap: 0.8vh;
}
